<div class="icon1">
    <figure>
        <img src="https://cf.shopee.co.th/file/73fa436954155705f2e7a6721402a008_xhdpi" alt="m">
        <figcaption>
            โค็ดส่งฟรี
        </figcaption>
    </figure>
    <figure>

        <img src="https://cf.shopee.co.th/file/9f527c7459d84745f2a5a4df7d4e084d_xhdpi" alt="m">
        <figcaption>
            แบรนด์แท้ถูกชัวร์
        
        </figcaption>
    </figure>
    <figure>

        <img src="https://cf.shopee.co.th/file/200498f26a355f314c1c71a28286680d_xhdpi" alt="m">
        <figcaption>
            อิเล็กทรอนิกซ์
        </figcaption>
    </figure>
    <figure>

        <img src="https://cf.shopee.co.th/file/76d10a0eff471cae71cef38635205db0_xhdpi" alt="m">
        <figcaption>
            Gamemer zone
        </figcaption>
    </figure>
    <figure>

        <img src="https://cf.shopee.co.th/file/ae570ca4a6ccaa3bbae98cf2bda3d1be_xhdpi" alt="m">
        <figcaption>
            Fashion
        </figcaption>
    </figure>

    
</div>